:root {
  --default--color: #fff;
  --background--color-1: #f3f3f5;
  --background--color-2: #f7f6f9;
  --background--color-3: #1e1f31;
  --font--color--sidebar-1: #888b96;
  --font--color--sidebar-2: #fefefe;
}
