.inventory {
  padding: 2rem;
  display: flex;
  min-height: 100vh;
  &__sidebar-title {
    letter-spacing: 0.5rem;
    padding: 2rem;
    text-align: center;
    color: var(--default--color);
    margin-bottom: 3rem;
  }
  &__sidebar {
    flex: 1 1 0;
    max-width: 30rem;
    padding: 2rem 1rem;
    border-radius: 2rem 0 0 2rem;
    color: var(--font--color--sidebar-1);
    background-color: var(--background--color-3);
  }
  &__main-container {
    margin-top: 10rem;
  }
  &__main {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
    background-color: var(--background--color-1);
    border-radius: 0 2rem 2rem 0;
  }
  &__main-container {
    background-color: var(--default--color);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0px 2px 2px 0px #878894;
  }
  &__opearation {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  // &__search-container {
  // }
  &__search {
    border-radius: 0.5rem;
    border: 2px solid transparent;
    color: var(--background--color-3);
    font-weight: 600;
    font-size: 1.5rem;
    outline: none;
    padding: 1rem;
    background-color: #e8e8e8;
  }
  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    border: 1px solid #c3c3ce;
    color: var(--background--color-3);
    font-weight: 600;
    font-size: 1.5rem;
    outline: none;
    padding: 1rem 3rem 1rem 3rem;
    background-color: rgb(245, 245, 246);
    box-shadow: 0px 2px 2px 0px #878894;
  }
}

.menu {
  padding: 2rem;
  list-style: none;
  font-size: 1.8rem;
  &__selected {
    background-color: #ffffff;
    color: #000;
  }
}

.menu a {
  display: flex;
  empty-cells: 2rem;
  align-items: center;
  padding: 2rem;
  gap: 1.5rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}

.table {
  font-size: 1.8rem;
  background-color: var(--default--color);
  border-radius: 0.5rem;
  width: 120rem;
  border-collapse: separate;
  border-spacing: 0 26px;
  text-align: center;

  &__thead {
    padding: 20px;
    border-radius: 0.5rem;
    background-color: rgb(3, 59, 102);
  }
  &__row th {
    padding: 2rem;
    color: var(--default--color);
  }
  &__row td {
    padding: 2rem;
    font-size: 1.8rem;
    font-weight: 600;
    color: #0f1023;
  }
  &__row.odd td {
    background-color: rgb(214, 218, 218);
  }
}
