.inventory {
  padding: 2rem;
  display: flex;
  min-height: 100vh;
  &__sidebar-title {
    letter-spacing: 0.5rem;
    padding: 2rem;
    text-align: center;
    color: var(--default--color);
  }
  &__sidebar {
    flex: 1 1 0;
    max-width: 30rem;
    padding: 2rem 1rem;
    border-radius: 2rem 0 0 2rem;
    color: var(--font--color--sidebar-1);
    background-color: var(--background--color-3);
  }

  &__main {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
    background-color: var(--background--color-1);
    border-radius: 0 2rem 2rem 0;
  }
}

.menu {
  padding: 2rem;
  list-style: none;
  font-size: 1.8rem;
}

.menu a {
  display: block;
  margin-bottom: 2rem;
}

.table {
  font-size: 1.8rem;
  background-color: var(--default--color);
  border-radius: 0.5rem;
  width: 120rem;
  border-collapse: separate;
  border-spacing: 0 26px;
  text-align: center;
  &__thead {
    padding: 20px;
    border-radius: 0.5rem;
    background-color: rgb(14, 180, 44);
  }
}
